.title {
    color: red;
    font-size: large;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
}
.logo {
    border-radius: 30cm;
}
.menubar {
    background-color: lightgreen;
    display:flex;
    flex-direction: row;
    width: auto;
    height: auto;
}
.submenu {
    background-color: white;
    padding:0.5rem;
    font-size:xx-large;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30cm;
    text-decoration: none;
    color: black   ;
}
.submenu:hover {
    transform: scale(1.2);
    transition: 0.1s;
}
.signin {
    background-color: green;
    padding: 0.5rem;
    font-size: xx-large;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30cm;
    text-decoration: none;
}
.signin:hover {
    transform: scale(1.2);
    transition: 0.1s;
}
.ไตเติ้ล {
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main {
    display: flex;
    flex-direction: column;
}
.about {
    display: flex;
    flex-direction: column;
}
.foot {
    text-align: center;
    display: flex;
    background-color: grey;
    margin-top: 90%;
    font-family:Arial, Helvetica, sans-serif;
    flex-direction: column;
    border-radius: 2cm;
    padding:1rem;
}
