.loginwelcome {
    display:flex;
    flex-direction: row;
    width: 75px;
    height: 26px;
    margin-top: 76px;
    text-align: center;
    margin-left: 157px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}
body {
    background-color:#00B157;
}